{% assign maxRelated = 3 %}
{% assign minCommonTags = 1 %}
{% assign maxRelatedCounter = 0 %}
{% assign collected = "" | split: "," %}

{% for post in site.posts %}
  {% assign sameTagCount = 0 %}
  {% for category in post.categories %}
    {% if post.url != page.url %}
      {% if page.categories contains category %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if sameTagCount >= minCommonTags %}
    {% assign collected = collected | push: post %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}{% break %}{% endif %}
  {% endif %}
{% endfor %}

{% if collected.size > 0 %}
<section class="related-posts">
  <h3>Related Posts</h3>
  <div class="post-grid">
    {% for post in collected %}
      {% include postbox.html %}
    {% endfor %}
  </div>
</section>
{% endif %}
