<!DOCTYPE html>
<html lang="ko">
<head>
{% include header_data.html %}
</head>
<body>
<div class="header">
{% include header.html %}
</div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-9">
<div class="page-header">
  <h3>{{ page.title }} <small>{{ page.date || date: "%Y. %m. %d." }}</small></h3>
</div>

<div class="content">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/kr/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.0/kr/88x31.png" /></a><br />이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/kr/">크리에이티브 커먼즈 저작자표시-동일조건변경허락 2.0 대한민국 라이선스</a>에 따라 이용할 수 있습니다.
</div>
	
<div class="content">
    {{ content }}
</div>

<div class="tags">
<button type="button" onclick="location.href='/tags'" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;tags</button>&nbsp;
{% for tag in page.tags %}
  <button type="button" onclick="searchTags('{{ tag }}')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;{{ tag }}</button>&nbsp;
{% endfor %}
</div>

<div class="content">
	<nav aria-label="이전글,다음글">
	  <ul class="pager">
	  {% if page.previous.url %}
		<li class="previous">
			<a href="{{page.previous.url}}">
				<span aria-hidden="true">&laquo; </span>{{page.previous.title}}
			</a>
		</li>
	  {% endif %}
	  {% if page.next.url %}
	  <li class="next">
		<a href="{{page.next.url}}">
			{{page.next.title}} <span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	  {% endif %}
	  </ul>
	</nav>
  </div>
</div>
<div class="col-sm-12 col-md-3">
{% include menu.html%}
</div>
</div>
  <div class="comment">
	{% include comments.html %}
	</div>
</div>
<div class="footer">
{% include footer.html %}
</div>
<script type="text/javascript">
$(function(){
  $('table').addClass("table");
});
</script>
</body>
</html>
